{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks"],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "document": true,
    "fetch": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react-hooks/exhaustive-deps": "error"
  }
}
